<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681337019026-ohhj59dt4m2v1v4g6gsgbffuh1niso3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681337019026-ohhj59dt4m2v1v4g6gsgbffuh1niso3o</string>
	<key>API_KEY</key>
	<string>AIzaSyBcGAFTVqsBkPxWxN1Id69GIAz4MluURjw</string>
	<key>GCM_SENDER_ID</key>
	<string>681337019026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codebounds.com.magenda</string>
	<key>PROJECT_ID</key>
	<string>magenda-ff568</string>
	<key>STORAGE_BUCKET</key>
	<string>magenda-ff568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681337019026:ios:6d78e0ea38fcc57d2aa44b</string>
</dict>
</plist>